{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Profile{% endblock title %}

{% block content %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{ form.media }}
<form method="POST" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary"> Save </button>
</form>

<div>
  <ul>
    {% for birth_day_record in birth_day_records %}
    <li> {{ birth_day_record.name }} | {{ birth_day_record.date_of_birth }}
      <button class="btn btn-danger" hx-delete="{% url 'delete-record' birth_day_record.id  %}" hx-trigger="click"
        hx-target="body"> Remove </button>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}